* {
    background-color: rgba(245, 245, 245, 0.855);
    font-family: "calibri";
    margin: 0;
    box-sizing: border-box;
}

.navContainer {
    width: 100vw;
    border: solid 2px black;
    position: sticky;
    top: 0;

}

.navContainer_grid {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    background-color: aqua;
}

.navContainer_grid img {
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

.navContainer_Menu {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    border: solid 2px black;
    min-height: 100px;
}

.urlNavegatorOption {
    text-align: center;
    min-width: 120px;
    list-style: none;
}
.urlNavegatorOption a{
    text-transform: uppercase;
    text-decoration: none;
}
