* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #072146;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

nav {
  padding-left: 15px;
  display: flex;
  align-items: center;
  column-gap: 15px;
  background-color: rgba(34, 28, 28, 0.884);
}
nav strong{
  color: whitesmoke;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 15px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
  width: 250px;
  padding: 8px 5px;
  box-sizing: border-box;
  margin: 10px 0px;
  border-radius: 10px;
}
