.windows__twoDivice {
  margin: 0 auto;
  justify-content: center;
  column-gap: 25px;
  width: 90%;
  display: flex;
}
.windows__twoDivice div {
  min-width: 450px;
}

.windows__twoDivice textarea {
  min-width: 450px;
  min-height: 450px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.247);
  padding: 10px 5px;
  border-radius: 5px;
}
.botonera {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}
.botonera button {
  padding: 5px 8px;
}
.preliminarContenido {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.247);
  padding: 10px 5px;
  border-radius: 5px;
}
