html,
body {
  background-color: #072146;
  font-family:  Calibri, "Trebuchet MS", sans-serif;
  color: aliceblue;
}

nav {
  display: flex;
  align-items: center;
  column-gap: 15px;
  border: solid white 2px;
  border-right: 2px;
  border-left: 2px;
  border-top: 10px;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 15px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
  width: 250px;
  padding: 8px 5px;
  box-sizing: border-box;
  margin: 10px 0px;
  border-radius: 10px;
}

.mainContainer {
  margin: 10px 15px;
}
.barraNavegacion__Contenedor {
  display: flex;
  margin: 5px 10px;
  column-gap: 15px;
  padding: 5px 10px;
  border-radius: 10px;
}
.barraNavegacion__Contenedor a {
  text-decoration: none;
  color: white;
  padding: 4px 10px;
}
.barraNavegacion__Contenedor  a:hover{
  background-color: rgba(240, 248, 255, 0.342);
  border-radius: 5px
}
